.pageBG {
	background-color: #ac6a13;
}

.couples {
	background: url('/src/assets/images/couples-tailgate.jpg');
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
}

.banner {
	width: 100vw;
	height: 30vh;
	background: url('/src/assets/images/couples-traindepot.jpg');
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}
