.ham {
	display: none;
	cursor: pointer;
	-webkit-tap-highlight-color: transparent;
	transition: transform 400ms;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	z-index: 1000;
	position: fixed;
	top: 0.6rem;
	right: 0.5rem;
	background: transparent;
	cursor: pointer;
	outline: none;
}

.line {
	display: none;
	fill: none;
	transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
	stroke: #aa380b;
	stroke-width: 5.5;
	stroke-linecap: round;
	z-index: 1000;
	position: fixed;
	top: 1rem;
	right: 1rem;
	background: transparent;
	cursor: pointer;
	outline: none;
}

.ham3 .top {
	stroke-dasharray: 40 130;
}
.ham3 .middle {
	stroke-dasharray: 40 140;
}
.ham3 .bottom {
	stroke-dasharray: 40 205;
}
.ham3.active .top {
	stroke-dasharray: 75 130;
	stroke-dashoffset: -63px;
}
.ham3.active .middle {
	stroke-dashoffset: -102px;
}
.ham3.active .bottom {
	stroke-dasharray: 110 205;
	stroke-dashoffset: -86px;
}

@media screen and (max-width: 481px) {
	.line {
		display: block;
	}

	.ham {
		display: block;
	}
}
