.packagesHero {
	top: 0;
	left: 0;
	height: 50rem;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 2rem;
	z-index: 0;
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 40rem;
}

/* .image {
	width: 20rem;
	margin: 4rem;
} */

.package {
	display: flex;
	flex-direction: column;
	height: 25rem;
	padding: 0 2rem;
	margin: 2rem;
	width: 20rem;
	z-index: 20;
	color: #000;
	background: #fff;
}

.title {
	font-family: 'Brian-Strait';
	font-weight: 400;
	font-size: 4rem;
	text-align: center;
	margin: 0.5rem 1rem;
}

.price {
	margin: 0 auto;
	align-self: center;
}

.package li {
	list-style: inside;
	line-height: 1rem;
	padding: 0.5rem;
	color: #000;
}

.banner {
	width: 100vw;
	height: 30rem;
	background: url('https://images.unsplash.com/photo-1641664638369-f77f0ca24cbb?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=776&q=80');
	background-position: top left;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

.bannerImage {
	opacity: 0.7;
	width: 100%;
	height: 100%;
	object-fit: cover;
	overflow: hidden;
	object-position: top left;
}

.overlay {
	color: #fff;
	background: rgba(0, 0, 0, 0.2);
	height: 25rem;
	width: 100%;
	position: absolute;
	bottom: 0;
	display: flex;
	flex-direction: column;
	/* justify-content: center; */
	align-items: center;
}

.tagline {
	font-family: 'Hello January';
	/* text-transform: uppercase; */
	font-weight: 400;
	font-size: 5rem;
	letter-spacing: 0.5rem;
	text-shadow: 1px 1px #fff;
	margin: 4rem;
}

.faq {
	font-family: 'Pierson Light';
	font-weight: 400;
	font-size: 5rem;
}

.addonsSectionContainer {
	display: flex;
	flex-direction: column;
	width: 90%;
	margin: 2rem auto;
	padding: 2rem;
	text-align: center;
	align-items: center;
	color: #993c20;
	/* background-color: #ded5cc; */
	background-color: #fff;
	border: none;
	box-shadow: -2px 2px 5px 2px #808080;
}

.addonsTitle {
	font-family: 'Pierson Light';
	font-weight: 400;
	font-size: 5rem;
	flex: 1;
}

.thin {
	height: 1px;
	align-self: center;
	width: 20rem;
	margin: 0.5rem auto;
	color: #993c20;
	background-color: #993c20;
	border: none;
}

.addonContainer {
	max-width: 50rem;
	width: 60%;
	display: flex;
	flex-direction: column;
	align-items: center;
	font-family: 'Pierson Light';
	/* font-weight: 100; */
	flex: 1;
}

.addon {
	font-family: 'Buffalo';
	font-weight: 100;
	font-size: 3rem;
	letter-spacing: 0.7rem;
	margin: 1rem;
}

.addonPrice {
	font-size: 2.5rem;
}

.addonText {
	flex: 1;
	font-size: 1.5rem;
	font-weight: 600;
	letter-spacing: 0.1rem;
}

.disclaimer {
	font-size: 1rem;
}
