.couples {
	padding-top: 100px;
	background: url('/src/assets/images/whit-web/couples/couples-main.jpg');
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
}

.banner {
	width: 100%;
	height: 25rem;
	position: relative;
	background: url('/src/assets/images/couples-traindepot.jpg');
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}
