section.about {
	position: relative;
	/* height: 100vh; */
	display: flex;
	justify-content: center;
}

section.about > div.container {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
	flex-wrap: wrap;
	margin: 50px auto 100px auto;
}

div.profile {
	position: relative;
	/* margin: 30px; */
}

img.whitneyProfile1 {
	position: relative;
	transform: translate(-50px, -50px);
	width: 25rem;
	z-index: 10;
	border: 10px solid #a79d8e;
	padding: 1rem;
}

img.whitneyProfile2 {
	position: absolute;
	bottom: 6rem;
	left: 6.2rem;
	width: 20rem;
	border: 10px solid #a79d8e;
	z-index: 10;
	padding: 0.8rem;
}

div.decorDiv1 {
	position: relative;
	height: 100px;
}

div.decorDiv2 {
	position: relative;
	height: 100px;
}

img.decorImg1 {
	position: absolute;
	width: 400px;
	transform: translate(180px, -180px);
	z-index: 0;
}

img.decorImg2 {
	position: absolute;
	width: 400px;
	transform: scale(1.5) translate(-200px, -180px) rotate(180deg);
}

div.aboutText {
	z-index: 100000;
	margin-left: 60px;
}

div.aboutText > p {
	color: #715845;
	/* width: 100%; */
	max-width: 600px;
	line-height: 1.8rem;
	font-size: 1.125rem;
}

div.inquire {
	margin: auto;
	padding-top: 1.25rem;
	text-align: center;
}
