section.about {
	height: 100vh;
	display: flex;
	justify-content: center;
}

section.about > div.container {
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
	flex-wrap: wrap;
}

img.whitneyProfile1 {
	position: relative;
	transform: translate(-50px, -50px);
	width: 30rem;
	z-index: 10;
	border: 10px solid #a79d8e;
	padding: 20px 20px;
}

div.decorDiv1 {
	position: relative;
	height: 100px;
}

div.decorDiv2 {
	position: relative;
	height: 100px;
}

img.decorImg1 {
	width: 400px;
	transform: translate(160px, -140px);
	z-index: 0;
}

img.decorImg2 {
	width: 400px;
	transform: scale(1.5) translate(-180px, -180px) rotate(180deg);
}

div.aboutText {
	z-index: 100000;
}

div.aboutText > p {
	color: #715845;
	width: 600px;
	line-height: 2em;
	font-size: 1.125rem;
}

div.inquire {
	margin: auto;
	padding-top: 1.25rem;
	text-align: center;
}

button.inquireButton {
	background-color: #aa480b;
	padding: 15px 25px;
	border: none;
	border-radius: 5px;
}

button.inquireButton a {
	color: #fff;
	font-size: 1.25rem;
	margin: auto;
	padding: 0.625rem;
}
