section.banner {
	/* position: relative; */
	height: 92vh;
	width: 100vw;
	display: flex;
	flex-direction: column;
}

.banner h4 {
	font-family: 'Hello January';
	font-size: 6rem;
	padding-top: 6rem;
	font-weight: 300;
	color: #fff;
	text-align: center;
	justify-content: center;
	align-content: center;
	align-items: center;
}

.imageDivider {
	background-image: url('/src/assets/images/hand-of-god.jpg');
	height: 50%;
	width: 100%;
	background-position: bottom center;
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	justify-content: center;
}

.colorDivider {
	height: 50%;
	width: 100%;
	background-color: #e2a42c;
	text-align: center;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	color: #fff;
}

.colorDivider h3 {
	text-transform: uppercase;
	font-family: 'Pierson Light';
	font-size: 3rem;
	letter-spacing: 0.2em;
	text-shadow: 0 0 5px #000;
}

.colorDivider p {
	font-family: 'Raleway';
	font-size: 1.4rem;
	line-height: 2rem;
	width: 60%;
}

.colorDivider button {
	border: none;
	border-radius: 0.3rem;
	font-size: 1.2rem;
	text-align: center;
	display: flex;
	padding: 1rem 2rem;
	margin-top: 2rem;
}
