section.hero {
	height: 200vh;
}

/* .hero {
	width: 100vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: #fff;
} */

/* Container styles */

.container {
	clip: rect(0, auto, auto, 0);
	overflow: hidden;
	position: absolute;
	height: 100vh;
	left: 0;
	width: 100%;
	/* safari hack */
	-webkit-mask-image: -webkit-linear-gradient(to top, #fff 0%, #fff 100%);
	mask-image: linear-gradient(to top, #fff 0%, #fff 100%);
}

.container-solid {
	background: #fff;
	top: 0;
}

.container-image {
	background: url('/src/assets/hero-image/main.jpg');
	background-size: 100vw auto;
	background-position: center;
	background-attachment: fixed;
	top: 100vh;
}

.container-image .title-wrapper h1,
.container-image .title-wrapper h5 {
	color: #fff;
}

/* Title wrapper styles */

.title-wrapper {
	position: fixed;
	display: block;
	/* text-align: center; */
	margin: auto;
	width: 100%;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

.title-wrapper h1 {
	text-align: center;
	font-size: 6.5rem;
	text-transform: uppercase;
	letter-spacing: 0.4em;
	margin-top: 10px;
	text-align: center;
	font-weight: 900;
}

.title-wrapper h5 {
	text-align: center;
	margin: 0;
	font-size: 4rem;
	font-family: 'Hello January';
	text-shadow: 2px 2px 2px #000;
}

.container-solid .title-wrapper h1,
.container-solid .title-wrapper h5 {
	background: url('/src/assets/hero-image/main.jpg');
	background-size: cover;
	background-position: center;
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	color: rgba(255, 255, 255, 0.7);
}

/* .scroll-button,
img {
	border: none;
	background: transparent;
	position: absolute;
	width: 200px;
	left: 41%;
	top: 200%;
	-webkit-animation: bounce 1.5s infinite;
	animation: bounce 1.5s infinite;
} */

/* .scroll-button img {
	background: transparent;
	border: none;
	width: 200px;
} */

@-webkit-keyframes bounce {
	0% {
		transform: scale(1, 1) translate(0px, 0px);
	}
	30% {
		transform: scale(1, 0.8) translate(0px, 10px);
	}
	75% {
		transform: scale(1, 1.1) translate(0px, -25px);
	}
	100% {
		transform: scale(1, 1) translate(0px, 0px);
	}
}
@keyframes bounce {
	0% {
		transform: scale(1, 1) translate(0px, 0px);
	}
	30% {
		transform: scale(1, 0.8) translate(0px, 10px);
	}
	75% {
		transform: scale(1, 1.1) translate(0px, -25px);
	}
	100% {
		transform: scale(1, 1) translate(0px, 0px);
	}
}
