.helloDiv {
	position: absolute;
	top: -50px;
	left: 20px;
	font-size: 5.5rem;
	padding: 0;
	margin: 0;
	color: #ded5cc;
	font-family: 'Raleway';
	text-transform: uppercase;
	z-index: 1000;
}

.helloDiv h2 {
	margin: 0;
}

@media screen and (max-width: 1200px) {
	.helloDiv {
		font-size: 4.5rem;
	}
}

@media screen and (max-width: );
