.options {
	position: absolute;
	top: 10rem;
	left: 0;
	display: flex;
	flex-direction: column;
	width: 100vw;
	justify-content: center;
	align-items: center;
	z-index: 10;
}

.optionsGroup {
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
}

.optionsGroup li {
	cursor: pointer;
}
